*{
	margin: 0;
	padding: 0;
}
body{
	position: relative;
}
.circ{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: red;
	cursor: pointer;
	transition: 1s;
	/*visibility: hidden;*/
	position: absolute;
	
}